 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
 }

 body{
    background: #333;
    color: white;
 }

 .container{
    height: 100%;
    width: 100%;
    display: block;
    /* padding: 20px 10px; */
    justify-content: space-between;
    display: flex;
    margin: 10px;
 }

.heading{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    height: 200px;
    width: auto;
    flex-wrap: wrap;
    border: 1px solid red;
    
}
.Qunatity{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    height: 200px;
    flex-wrap: wrap;
    border: 1px solid red;
}

.Qunatity input{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: inset;
}

.price{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    height: 200px;
    flex-wrap: wrap;
    border: 1px solid red;
}
.price p{
    margin-bottom: 10px;
}

.amount{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    height: 200px;
    flex-wrap: wrap;
    border: 1px solid red;
}

.amount p{
    margin-bottom: 20px;
    font-size: 15px;
}


.TotalAmount{
    float: right;
}







  

